@media screen and (max-width: 1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 23px;
    }
    .nav-left {
        padding-top: 0px;
        padding-bottom: 0px;
        flex-direction: column;
        text-align: center;
    }
    .content-right {
        display: none;
    }
    .content-left h2 {
        display: none;
    }
    .content-left {
        padding-top: 300px;
        padding-bottom: 120px;
        font-size: 13px;
    }
    .ha {
        padding-top: 0px;
    }
    .home-article {
        flex-direction: column;
    }
    .home-article-img {
        text-align: center;
    }
    .home-article img {
        width: 70vw;
    }
    .form-input {
        width: 50%;
    }
    .form-box input,
    textarea {
        width: 66vw;
    }
    .row {
        flex-direction: column;
    }
    .social {
        padding: 0;
    }
    .post-img {
        height: auto;
    }
}