* {
    margin: 0;
    padding: 0;
}


.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    /*background-color: rgb(248, 137, 10); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-left {
    font-size: 20px;
    display: flex;
}

.ha {
    padding-right: 0px;
    padding-bottom: 17px;
}

.nav-left img {
    padding-top: 50px;
    width: 200px;
    height: 100px;
    border-radius: 50%;
}

.nav-left ul {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: 'Arial Narrow Bold';
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bold;
}

.nav-right {}

.content {
    display: flex;
    height: 390px;
    /*background-color: rgb(172, 161, 235); */
    margin-top: 40px;
    padding: 9px;
}

.content-left {
    padding-top: 150px;
    flex-direction: column;
    font-family: var(--font2);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding: 50px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    padding-top: 50px;
    height: 300px;
    border: 2px solid white;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.blog-articles{
    padding-top: 12px;
    padding-bottom: 20px;
}

.blog-articles h2{
    padding-left: 10px;
    display: flex;   
} 

.home-articles {
    padding-top: 12px;
    background-color: rgb(241, 237, 241);
}

.home-article {
    padding-top: 20px;
    display: flex;
    margin: 25px;
    background-color: rgb(245, 241, 245);
}

.home-article img {
    width: 300px;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    49% {
        color: red;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: red;
    }
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content img {
    padding-left: 10px;
    width: 200px;
    height: 200px;
}

.home-article-content button {
    background-color: green;
    font-size: 24px
}

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}